    {{>header}}
    <p>Use this site to get your weather!</p>
    <form><!--action="/weather" method="POST"-->
        <input type="text" name="location" placeholder="location">
        <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
</div>
{{>footer}}